<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158155559721-qppkheclic31fm6vmhp8thuohng4ji21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158155559721-qppkheclic31fm6vmhp8thuohng4ji21</string>
	<key>API_KEY</key>
	<string>AIzaSyBj3uI48roPIZLBjR-izLeozuDgwd8BwrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>158155559721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecanteen</string>
	<key>PROJECT_ID</key>
	<string>uas-android-ac555</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-android-ac555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158155559721:ios:b8f886ae75b134e8e1dd38</string>
</dict>
</plist>